.cropperBtnStrip {
  z-index: 1001;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cropperOverlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1000;
  left: 0;
  right: 0;
}

.cropperBtn {
  margin: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.rotateBtn {
  margin: 10px;
  align-self: flex-start;
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

